body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-205px;
  width:100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10 label {
  left:0px;
  width:100%;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:115px;
  width:100px;
  height:15px;
  display:flex;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u10_img.selected {
}
#u10.selected {
}
#u10_img.disabled {
}
#u10.disabled {
}
#u10_img.selectedDisabled {
}
#u10.selectedDisabled {
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u10_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
